<div class="container">
    <div class="header-wraper">
        <div class=title>
        <a class="title-h1" routerLink="/home" >
            armani
            </a>
            <p class="title-p">
                hotel dubai
            </p>
        </div>
        <nav>
            <ul class="nav-ul">
                <li class="nav-li">
                    <a routerLink="/home" routerLinkActive="active">
                     home
                    </a>
                <li class="nav-li">
                   <a class="nav-a">
                    about us
                   </a>
                </li>
                <li class="nav-li">
                    <a class="nav-a">
                        stay
                    </a>
                </li>
                <li class="nav-li">
                    <a class="nav-a">
                        dine
                    </a>
                </li>
                <li class="nav-li">
                   <a class="nav-a">
                    prive
                   </a>
                </li>
                <li class="nav-li">
                   <a class="nav-a">
                    wellness
                   </a>
                </li>
                <li class="nav-li">
                   <a class="nav-a">
                    retail
                   </a>
                </li>
                <li class="nav-li">
                    <a routerLink="/contact" routerLinkActive="active">
                        contact us
                    </a>
                </li>
            </ul>
        </nav>
        <a class="link" href="https://reservations.armanihotels.com/73769?&_ga=2.96753759.1178203559.1635094805-1090964932.1635094805#/guestsandrooms">
            book now
        </a>
    </div>
</div>


