.bg-img{
    margin-top:30px;
    margin-bottom: 30px;
    background-image: url(../../../../../assets/img/img-l1.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}