<div class="title">
    <h1 class="title-h1">stay</h1>
    <p class="title-p">luxury hospitality</p>
</div>
    <div class="img-box1">
        <div class="img01">
            <img class="img-h1" src="../../../../../../assets/img/img-h1.jpg">
            <p class="img-p">Armani Ambassador Suite with balcony</p>
        </div>
        <div class="img02">
            <img class="img-h2" src="../../../../../../assets/img/img-h2.jpg">
            <p class="img-p01">Armani Signature Suite</p>
        </div>
    </div>
    <div class="img002">
        <div class="img03">
            <img class="img-h3" src="../../../../../../assets/img/img-h3.jpg">
            <p class="img-p">Armani Deluxe Room</p>
        </div>
        <div class="img04">
            <img class="img-h4" src="../../../../../../assets/img/img-h4.jpg">
            <p class="img-p">Armani Premiere Suite </p>
        </div>
    </div>
<a [routerLink]="['/Luxery/']" class="btn ">discover more</a>
