<div class="bg-container"></div>
<div class="title">
        <h1 class="title-h1">SPECIAL OFFER</h1>
        <h2 class="title-h2">Stay With Armani!</h2>
        <p class="title-p">A once-in-a-lifetime holiday, a special occasion,
             an indulgent treat, a business stay; 
             make lifelong memories at the Armani Hotel Dubai.
             Award-winning dining, luxurious leisure, spa facilities, 
             and signature Armani hospitality combine to create the
            ultimate experiences.</p>
</div>
<div class="title-01">
        <div class="title-left">
            <h1 class="title-01-h1">Fountain Highs Meet Gourmet Dining</h1>
            <p class="title-01-p">Stay with Armani and enjoy the Downtown Dubai highlife with a gourmet dining upgrade. Enjoy bespoke in-room welcome amenities followed by an authentic aperitivo at Armani/Lounge and Armani/Mediterraneo buffet dinner with unrivalled view of the Dubai Fountain experience.</p>
            <p class="titlep-01-p">Terms and Conditions apply.</p>
            <a class="title-01-meil" href="mailto: reservations.dubai@armanihotels.com">
                For bookings please email: reservations.dubai@armanihotels.com
            </a>
            <p class="title-01-call">Or call: +971 4 888 3999</p>
            <a class="btn" href="https://reservations.armanihotels.com/73769?RatePlanId=5634441#/guestsandrooms">book now</a>
        </div>
        <img class="title-img" src="../../../../../assets/img/img01.jpg">
</div>
<div class="title-02">
    <img class="title-img" src="../../../../../assets/img/img02.jpg">
    <div class="title-left">
        <h1 class="title-01-h1">Discover Your EXPO Experience With Armani</h1>
        <p class="title-01-p">Experience the world’s greatest show – EXPO 2020, check into a world of unrivaled luxury and get up to 2 complimentary Expo tickets (1-Day Passes) when you make a booking for a three nights stay between October 2021 and March 2022. Discover unique cultures, gaze at the amazing architecture and be inspired by technological innovations as you explore 191 country pavilions and various signature pavilions across the Expo 2020 site. Landmark style awaits, book now.</p>
        <p class="titlep-01-p">Valid until 1 October 2021 – 31 March 2022</p>
        <p class="titlep-01-p01">Terms and Conditions apply.</p>
        <a class="title-01-meil" href="mailto: reservations.dubai@armanihotels.com">
            For bookings please email: reservations.dubai@armanihotels.com
        </a>
        <p class="title-01-call">Or call: +971 4 888 3999</p>
        <a class="btn" href="https://reservations.armanihotels.com/73769?RatePlanId=5634441#/guestsandrooms">book now</a>
    </div>

</div>

